* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

.main-container {
    max-width: 1300px;
}

a {
    color: inherit;
    text-decoration: none;
}

header {
    z-index: 1;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100vw;
    height: 8vh;
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.247), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: translateY(-110%);
    animation-name: header-slide;
    animation-duration: 1700ms;
    animation-fill-mode: forwards;
    animation-delay: 4000ms;
}

@keyframes header-slide {
    0% {transform: translateY(-110%);}
    100% {transform: translateY(0);}
}

.nav {
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 30px;
}


.nav li {
    padding: 0 20px;
    font-size: 1rem;
    font-family: Helvetica, sans-serif;
    
}

.nav a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #001E50;
    height: 100%;
    transition: all ease 200ms;
}

.burger-container {
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #001E50;
    margin: 5px;
}

.nav a:hover {
    background: #001E50;
    color: #fff;
}

.vw-logo {
    position: relative;
    top: 2px;
    height: 6vh;
    margin-left: 15px;
}

.landing {
    background:#fff;
    position: relative;
    width: 100%;
    height: 100vh;
}

.color-container {
    height: 1000px;
}

.blue {
    background: #001E50;
    height: 0px;
    animation-name: blue-slide;
    animation-duration: 1700ms;
    animation-fill-mode: forwards;
    animation-delay: 4000ms;
}

@keyframes blue-slide {
    0% {height: 0px;}
    100% {height: 600px;}
}

.egolf {
    top: 320px;
    right: 100px;
    position: absolute;
    width: 1100px;
    opacity: 0;
    animation-name: fade;
    animation-duration: 1500ms;
    animation-fill-mode: forwards;
    animation-delay: 500ms;
}

@keyframes fade {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.blurb {
    position: absolute;
    top: 200px;
    left:200px;
    max-width: 430px;
    color: #fff;
    font-family: helvetica, sans-serif;
}

.blurb h1 {
    font-size: 2rem;
    margin-bottom: 35px;
}

.blurb p {
    line-height: 1.5rem;
}

.blurb h2 {
    margin-top: 15px;
    cursor: pointer;
    font-size: 1.1rem;
    color: #fff;
}

.blurb h2:hover {
    text-decoration: underline;
}

.powerful {
    color: #001E50;
    background: #fff;
    opacity: 0;
    animation-name: fade;
    animation-duration: 1500ms;
    animation-fill-mode: forwards;
    animation-delay: 2000ms;
}

.why-wouldnt {
    font-weight: bolder;
}

#vw-logo2-container {
    width: 100%;
    text-align: center;
    padding: 100px 0 50px 0;
}

.vw-logo2 {
    width: 150px;
}

.info-container {
    width: 100%;
}

.info {
    display: grid;
    max-width: 1500px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    font-family: helvetica, sans-serif;
}

.grid-item {
    height: 500px;
}

.image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.egolf-front {
    background-image: url(./egolf.jpg);
}

.egolf-interior {
    background-image: url(./vwinterior.jpg);
}

.egolf-charging {
    background-image: url(./vwcharging.jpg);
}

.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.info-text {
    margin: 0 180px 0 30px;
    line-height: 2.2rem;
}

.info-text p {
    font-size: 1.1rem;
}

.right {
    text-align: right;
    margin: 0 30px 0 180px;
}

.quick-stats-container {
    width: 100%;
}

.quick-stats {
    display: flex;
    justify-content: space-evenly;
    margin: 200px auto 50px auto;
    max-width: 1200px;
}

.quick-stats-item {
    width: 250px;
    font-family: Helvetica, sans-serif;
    text-align: center;
}

.quick-stats-item h1 {
    margin: 40px 0 20px 0;
    font-size: 1.5rem;
    color: rgb(137, 138, 141);
}

.quick-stats-item p {
    margin: 10px;
    line-height: 1.7rem;
    color: #001E50;
}

.quick-stats-item img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.356); 
    transition: all ease 300ms;
}

.quick-stats-item img:hover {
    transform: scale(0.95);
}

.otr-container {
    margin: 100px 0;
}

.otr img {
    width: 70%;
}

.otr {
    text-align: center;
    font-family: helvetica, sans-serif;
    color: #001E50;
}

.otr h1 {
    font-weight: lighter;
    font-size: 3rem;
}

.otr h2 {
    font-weight: lighter;
    font-size: 2rem;
}

.form-container {
    width: 100%;
    margin: 170px 0;
}

.form {
    font-family: helvetica, sans-serif;
    width: 90%;
    max-width: 800px;
    padding: 30px;
    margin: 0 auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
}

.form h1 {
    background: #001E50;
    color: #fff;
    font-size: 18px;
    padding: 20px;
    margin: -30px -30px 30px -30px;
}

.form input, textarea {
    outline: none;
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    height: 45px;
    font-family: helvetica, sans-serif;
}

.form textarea {
    resize: none;
    
}

.form input[type="submit"] {
    cursor: pointer;
}

.form input[type="submit"]:hover {
    filter: brightness(70%);
}

footer {
    background: #001E50;
    height: 500px;
    color: #fff;
    position: relative;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    font-family: Helvetica, sans-serif;
    padding: 50px 100px 50px 100px;
    height: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

.footer-h1 {
    margin-bottom: 40px;
    font-size: 1.5rem;
    color: rgb(137, 138, 141);
    font-weight: normal;
}

.footer-nav li, .footer-nav-social i, .footer-nav-models li, .footer-nav-tools li {
    margin-bottom: 20px;
}

.fab {
    font-size: 18px;
}

.footer-nav li:hover, .footer-nav-social li:hover, .footer-nav-models li:hover, .footer-nav-tools li:hover {
    filter: brightness(70%);
}

.copywrite {
    font-family: sans-serif;
    font-size: 13px;
    position: absolute;
    bottom: 10px;
    left: 15px;
}

@media screen and (max-width: 1600px) {

    .egolf {
        width: 900px;
    }

    .blurb {
        left: 100px;
    }
}

@media screen and (max-width: 1400px) {

    .color-container {
        height: 700px;
    }

    .egolf {
        width: 700px;
        top: 400px;
    }

    .blurb {
        top: 150px;
    }

}

@media screen and (max-width: 1200px) {

    .blurb {
        left: 50px;
    }

    .egolf {
        right: 0;
    }

}

@media screen and (max-width: 1050px) {

    body {
        overflow-x: hidden;
    }

    .nav {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background: rgb(141, 141, 141);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
        text-align: center;
        transform: translateX(100%);
        margin-right: 0;

        transition: transform 0.5s ease-in;
    }

    .nav a {
        width: 100%;
        color: #fff;
        opacity: 0;
    }

    .burger-container {
        display: flex;
    }

    .burger {
        display: block;
        cursor: pointer;
    }

    .egolf {
        width: 500px;
        top: 450px;
    }

    .blurb {
        max-width: 550px;
    }

    .info-text {
        margin: 0 30px;
    }

}

@media screen and (max-width: 820px) {

    .footer-container {
        padding: 30px;
    }

    .grid-item {
        height: 300px;
    }

    .info-text p {
        font-size: 1rem;
        line-height: 1.6rem;
    }

    .info-text h1 {
        font-size: 1.5rem;
    }

    .vw-logo2 {
        width: 100px;
    }

    .quick-stats-item {
        width: 220px;
    }
}

@media screen and (max-width: 700px) {

    footer {
        height: 100%;
    }

    .footer-container {
        display: block;
    }

    .footer-container ul {
        margin: 60px 0;
    }

    .footer-h1 {
        margin-bottom: 20px;
    }

    .quick-stats {
        display: block;
        margin-top: 70px;
    }

    .quick-stats-item {
        margin: 50px auto;
        width: 300px;
    }

    .otr h1 {
        font-size: 2.3rem;
    }

    .otr h2 {
        font-size: 1.7rem;
    }

    .otr-container {
        margin: 100px 30px;
    }

    .otr img {
        width: 100%;
    }

    .info {
        display: flex; 
        flex-direction: column; 
    }

    #first {
        order: 1; 
    }

    #second {
        order: 2; 
    }

    .right {
        text-align: left;
    }

    .blurb {
        margin-right: 30px;
    }

}

@media screen and (max-width: 500px) {

    .egolf {
        width: 100%;
    }

    .blurb {
        top: 100px;
    }

    .blurb h1 {
        font-size: 1.6rem;
    }

    .blurb p {
        font-size: 0.9rem;
    }

    .nav {
        width: 250px;
    }

}

.nav-active {
    transform: translateX(0%);
}

@keyframes navFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}